
@{
    ViewData["Title"] = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <div class="alert alert-sucess">
        <h2 class="display-4">Soy la pagina Compras</h2>
    </div>
</div>